name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  rust:
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-apple-darwin
          components: rustfmt, clippy

      - name: Cargo fmt
        run: cargo fmt --all -- --check

      - name: Cargo check
        run: cargo check --all-targets --target aarch64-apple-darwin

      - name: Cargo test
        run: cargo test --doc --target aarch64-apple-darwin

      - name: Cargo clippy
        run: cargo clippy --all-targets --target aarch64-apple-darwin -- -D warnings
